.chat-container {
    display: flex;
    height: 100%;
    position: relative;
    width: 70vw;
}

.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    transition: flex 0.3s ease;
    position: relative; /* Added */
}

.detail {
    flex: 0;
    overflow: scroll;
    border-left: 1px solid #dddddd35;
    transition: flex 0.3s ease, display 0s 0.3s;
}

.detail.hidden {
    display: none;
    transition: none;
}

.detail.visible {
    flex: 1;
    display: block;
}

.chat-container.detail-visible .detail {
    flex: 1;
    display: block;
}

.top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b7205535;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: antiquewhite;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}

.user img {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.texts {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.texts p {
    margin: 5px 0px;
}

.texts span {
    font-weight: bold;
    font-size: 18px;
}

.center {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
}

.center .message {
    max-width: 70%;
    display: flex;
    align-self: flex-start;
}

.center .message.own {
    align-self: flex-end;
}

.center .message.own .texts p {
    background-color: #00631ccd;
}

.center .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.center .message .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center .message .texts p {
    padding: 10px 20px;
    background-color: rgb(92, 60, 120);
    border-radius: 20px;
    color: white;
}

.center .message .texts span {
    font-size: 10px;
    color: white;
    font-weight: 300;
    text-align: right;
}

.bottom {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    border-top: 1px solid #dddddd8a;
    margin-top: auto;
    background-color: #0000005a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bottom input {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.508);
    padding: 12px 20px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    transition: border 0.2s ease;
}

.bottom input:focus {
    border: 2px solid #0095f6;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons i {
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    /* border-radius: 50%; */
}

.emoji {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}

.emoji i {
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}

.picker {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 1;
}

.sendButton {
    background-color: #00eaff;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1.1rem;
}

.sendButton:hover {
    background-color: rgba(0, 149, 246, 0.8);
}

.scrollButton {
    position: absolute;
    bottom: 80px; /* Adjusted to be above the bottom div */
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    opacity: 0;
    visibility: hidden;
}

.scrollButton.visible {
    opacity: 1;
    visibility: visible;
}