.capsule-button {
  display: flex;
  border: 2px solid #007bff;
  border-radius: 50px;
  overflow: hidden;
  width: 150px; 
  margin: 0 auto; 
  margin-top: 10px; 
}

.button-part {
  flex: 1;
  padding: 5px 0; 
  text-align: center;
  cursor: pointer;
  transition: background-color 0s, color 0s;
}

.button-part:not(.active) {
  background-color: white;
  color: #007bff;
}

.button-part.active {
  background-color: #007bff;
  color: white;
}