/* frontend/src/styles/MusicRecommendations.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  font-family: 'Space Grotesk', sans-serif;
  padding: 20px;
  background: linear-gradient(to right, #461717, #170017);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
} */

h1 {
  font-family: "Raleway";
  font-size: 50px;
  margin: 5px 0 30px 0;
  color: white;
}

.music-recommendations {
  background: linear-gradient(to right, #461717, #170017);
  width: 100%;
  /* max-width: 1200px; */
  padding: 20px 64px;
  margin-left: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.inputs input {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 0px solid #ffffff;
  width: 300px;
  font-family: "Space Grotesk";
  font-size: 20px;
  color: white;
  font-weight: 900;
  
}

.track-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.track-card {
  background-color: #0000007f;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 300px;
  text-align: center;
  height: 520px;
}

.track-card:hover {
  transform: translateY(-10px);
}

.track-image img {
  margin-top: 15px;
  width: 90%;
  height: auto;
  border-radius: 25px;
}

.track-info {
  padding: 20px;
}

.track-info h3 {
  margin: 20px 0 20px 0;
  font-size: 1.5em;
  color: white;
}

.track-info p {
  margin: 0 0 20px;
  font-size: 1.1em;
  color: #bbbbbb;
}

.spotify-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ff5963;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
  font-size: 1.2em;
}

.spotify-link:hover {
  background-color: #1ed760;
  color: black;
}

body{
  background: linear-gradient(to right, #461717, #170017);
}
