.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    color: black;
    background: #fff;
    border-radius: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content {
    height: 90%;
    overflow-y: auto;
    padding: 20px;
}
