.chatList {
  flex: 1;
  overflow: scroll;
  margin-left: 70px;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.searchBar {
  flex: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 10px;
}

.searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  flex: 1;
}

.searchBar img {
  width: 20px;
  height: 20px;
}

.add {
  width: 20px;
  height: 20px;
  background-color: rgb(1, 156, 55);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd22;
  padding-left: 5px;
}

.item img {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  object-fit: cover;
  margin: 15px;
}

.item .texts {
  display: flex;
  flex-direction: column;
}

.item .texts .chatName {
  font-weight: 500;
  color: white;
  font-size: 1.1rem;
  margin: 0px;
}

.item .texts p {
  font-size: 14px;
  font-weight: 300;
  color: white;
  margin: 0px;
}

.item.selected {
  background-color: rgb(0, 0, 0);
  color: red;
}
