body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Space Grotesk',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("../public/bg2.jpg"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex; 
}

@media (max-width: 1400px) {
  .container {
    flex-direction: column;
  }
}

.list {
  flex: 1;
  width: 25%;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.37);
}
